@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
// font-family: 'Barlow', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
// font-family: 'Fraunces', serif;

// Variables
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-cyan-moderate: hsl(168, 34%, 41%);
$dark-blue-desaturated: hsl(212, 27%, 19%);
$dark-blue-grayish: hsl(213, 9%, 39%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);


* {
    margin: 0;
    box-sizing: border-box;
}

