@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
// font-family: 'Barlow', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
// font-family: 'Fraunces', serif;

// Variables
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-cyan-moderate: hsl(168, 34%, 41%);
$dark-blue-desaturated: hsl(212, 27%, 19%);
$dark-blue-grayish: hsl(213, 9%, 39%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
$blue-hover: #6BD2FD;
$footer-bg-color: #90D4C5;

// Font variable



* {
    margin: 0;
    box-sizing: border-box;
}

.container {

    header {
        position: absolute;
        display: flex;
        width: 100%;
        padding: 40px 60px 0 30px;
        justify-content: space-between;
        

        .header-menu {
            font-family: 'Barlow', sans-serif;
            color: $white;
            display: flex;
            gap: 0 50px;
            
            div {
                cursor: pointer;
            }

            .contact-btn {
                font-family: 'Fraunces', serif;
                margin-top: -20px;
                padding: 20px 35px;
                color: black;
                background-color: $white;
                border-radius: 50px;

                &:hover {
                    background-color: $blue-hover;
                    color: $white;
                }
            }
        }
    }

    .firstPage {
        width: 100%;
        height: 100vh;
        background-image: url('../assets/desktop/image-header.jpg');
        background-size: cover;

        .first-page-text {
            font-family: 'Fraunces', serif;
            color: $white;
            font-size: 4.2rem;
            position: absolute;
            font-weight: 900;
            top: 14rem;
            left: 0;
            right: 0;
            text-align: center;
            letter-spacing: 0.8rem;
        }

        .arrow-down-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: auto;

            object {
                margin-top: 150px;
            }
        }
    }

    .second-page-text, .third-page-text {
        width: 50%;
        padding: 8rem 13rem;
        margin: auto;

        .scnd-page-text-title, .trd-page-text-title  {
            font-size: 3rem;
            font-family: 'Fraunces', serif;
            margin-bottom: 2rem;
            font-weight: 900;
        }

        .scnd-page-text-detail, .trd-page-text-detail {
            font-family: 'Barlow', sans-serif;
            color: $grayish-blue;
            font-size: 1.3rem;
            line-height: 2.1rem;
            margin-bottom: 3rem;
        }

        .scnd-page-btn, .trd-page-btn {
            font-family: 'Fraunces', serif;
            font-weight: 900;
            font-size: 1.1rem;
            cursor: pointer;
            position: relative;

            &:hover {
                &::before{
                    content: '';
                    height: 10px;
                    width: 9rem;
                    border-radius: 50px;
                    background-color: $yellow;
                    position: absolute;
                    top: .8rem;
                    left: -8px;
                    z-index: -1;
                    
                }
            }
        }
    }

    .secondPage {
        height: 80vh;
        display: flex;


        .second-page-img {
            background-image: url('../assets/desktop/image-transform.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .second-page-img {
            width: 50%;
        }
    }

    .thirdPage {
        height: 80vh;
        display: flex;

        .third-page-img {
            width: 50%;
            background-image: url('../assets/desktop/image-stand-out.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .trd-page-btn {
            &:hover {
                &::before{
                    background-color: $soft-red;
                }
            }
        }
    }

    .frthPage {
        height: 80vh;
        display: flex;

        .graph-img, .photography-img {
            width: 50%;
            background-image: url('../assets/desktop/image-graphic-design.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            .frth-img-text {
                position: absolute;
                bottom: 50px;
                width: 400px;
                text-align: center;
                color: $dark-blue;
                left: 0;
                right: 0;
                margin: auto;

                .frth-title {
                    font-family: 'Fraunces', serif;
                    font-size: 2rem;
                    margin-bottom: 2rem;
                }

                .frth-text {
                    font-size: 1.2rem;
                    font-family: 'Barlow', sans-serif;
                    line-height: 1.9rem;
                }
            }
        }

        .photography-img {
            background-image: url('../assets/desktop/image-photography.jpg');
        }

    }

    .client-testimonials {
        height: 100vh;

        padding: 20vh;

        .testimonials {
            
            .testimonials-title {
                text-align: center;
                font-size: 1.5rem;
                color: $grayish-blue;
                font-family: 'Fraunces', serif;
                letter-spacing:  .6rem;
                font-weight: 900;
                margin-bottom: 8rem;
            }

            .clients {
                display: flex;
                justify-content: center;
            
                .client-reviews {
                    width: 450px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        margin-bottom: 6rem;
                    }

                    .client-text {
                        width: 410px;
                        font-size: 1.3rem;
                        text-align: center;
                        color: $dark-blue-grayish;
                        font-family: 'Barlow', sans-serif;
                        line-height: 2.3rem;
                        margin-bottom: 5rem;
                    }

                    .client-info {
                        .client-name {
                            font-size: 1.2rem;
                            font-family: 'Fraunces', serif;
                            font-weight: 900;
                            color: $dark-blue-desaturated;
                            text-align: center;
                            margin-bottom: 1rem;
                        }

                        .client-title {
                            font-family: 'Barlow', sans-serif;
                            color: $grayish-blue;
                        }
                    }
                }
            }

        }

    }

    .images {
        height: 65vh;
        display: flex;

        .img {
            flex: 1;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .img-1 {
            background-image: url('../assets/desktop/image-gallery-milkbottles.jpg');
        }
        .img-2 {
            background-image: url('../assets/desktop/image-gallery-orange.jpg');
        }
        .img-3 {
            background-image: url('../assets/desktop/image-gallery-cone.jpg');
        }
        .img-4 {
            background-image: url('../assets/desktop/image-gallery-sugarcubes.jpg');
        }

    }

    .footer {
        height: 40vh;
        background-color: $footer-bg-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;

        .logo {
            width: 150px;
            height: 50px;
            background-color: $dark-cyan-moderate;
            mask: url('../assets/logo.svg') no-repeat center;
        }

        .navLinks {
            display: flex;
            gap: 0 4rem;
            margin-top: 2rem;
            margin-bottom: 6rem;
            font-family: 'Barlow', sans-serif;
            color: $dark-cyan-moderate;
            font-size: 1.2rem;

            div {
                cursor: pointer;
            }

            div:hover {
                color: $white;
            }
        }

        .social-links {
            display: flex;
            justify-content: center;

            .icon {
                width: 20px;
                height: 20px;
                background-color: $dark-cyan-moderate;
                cursor: pointer;
                &:not(:last-child) {
                    margin-right: 2rem;
                }

                &:hover {
                    background-color: $white;
                }
            }
            .facebook {
                mask: url('../assets//icon-facebook.svg') no-repeat center;
            }
            
            .instagram {
                mask: url('../assets//icon-instagram.svg') no-repeat center;
            }
            .twitter {
                mask: url('../assets//icon-twitter.svg') no-repeat center;
            }
            .pinterest {
                mask: url('../assets//icon-pinterest.svg') no-repeat center;
            }

            // object:not(:last-child) {
            //     margin-right: 2rem;
            // }
        }

        

        .attribution { 
            position: absolute;
            bottom: 1rem;
            font-size: 11px;
            right: 0;
            left: 0;
            text-align: center;

            a { 
                color: hsl(228, 45%, 44%); 
                }
            }
    }
}
