@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 40px 60px 0 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container header .header-menu {
  font-family: 'Barlow', sans-serif;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 50px;
}

.container header .header-menu div {
  cursor: pointer;
}

.container header .header-menu .contact-btn {
  font-family: 'Fraunces', serif;
  margin-top: -20px;
  padding: 20px 35px;
  color: black;
  background-color: white;
  border-radius: 50px;
}

.container header .header-menu .contact-btn:hover {
  background-color: #6BD2FD;
  color: white;
}

.container .firstPage {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/desktop/image-header.jpg");
  background-size: cover;
}

.container .firstPage .first-page-text {
  font-family: 'Fraunces', serif;
  color: white;
  font-size: 4.2rem;
  position: absolute;
  font-weight: 900;
  top: 14rem;
  left: 0;
  right: 0;
  text-align: center;
  letter-spacing: 0.8rem;
}

.container .firstPage .arrow-down-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  margin: auto;
}

.container .firstPage .arrow-down-logo object {
  margin-top: 150px;
}

.container .second-page-text, .container .third-page-text {
  width: 50%;
  padding: 8rem 13rem;
  margin: auto;
}

.container .second-page-text .scnd-page-text-title, .container .second-page-text .trd-page-text-title, .container .third-page-text .scnd-page-text-title, .container .third-page-text .trd-page-text-title {
  font-size: 3rem;
  font-family: 'Fraunces', serif;
  margin-bottom: 2rem;
  font-weight: 900;
}

.container .second-page-text .scnd-page-text-detail, .container .second-page-text .trd-page-text-detail, .container .third-page-text .scnd-page-text-detail, .container .third-page-text .trd-page-text-detail {
  font-family: 'Barlow', sans-serif;
  color: #a7abae;
  font-size: 1.3rem;
  line-height: 2.1rem;
  margin-bottom: 3rem;
}

.container .second-page-text .scnd-page-btn, .container .second-page-text .trd-page-btn, .container .third-page-text .scnd-page-btn, .container .third-page-text .trd-page-btn {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
}

.container .second-page-text .scnd-page-btn:hover::before, .container .second-page-text .trd-page-btn:hover::before, .container .third-page-text .scnd-page-btn:hover::before, .container .third-page-text .trd-page-btn:hover::before {
  content: '';
  height: 10px;
  width: 9rem;
  border-radius: 50px;
  background-color: #fad400;
  position: absolute;
  top: .8rem;
  left: -8px;
  z-index: -1;
}

.container .secondPage {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .secondPage .second-page-img {
  background-image: url("../assets/desktop/image-transform.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container .secondPage .second-page-img {
  width: 50%;
}

.container .thirdPage {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .thirdPage .third-page-img {
  width: 50%;
  background-image: url("../assets/desktop/image-stand-out.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container .thirdPage .trd-page-btn:hover::before {
  background-color: #fe7867;
}

.container .frthPage {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .frthPage .graph-img, .container .frthPage .photography-img {
  width: 50%;
  background-image: url("../assets/desktop/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container .frthPage .graph-img .frth-img-text, .container .frthPage .photography-img .frth-img-text {
  position: absolute;
  bottom: 50px;
  width: 400px;
  text-align: center;
  color: #19536b;
  left: 0;
  right: 0;
  margin: auto;
}

.container .frthPage .graph-img .frth-img-text .frth-title, .container .frthPage .photography-img .frth-img-text .frth-title {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.container .frthPage .graph-img .frth-img-text .frth-text, .container .frthPage .photography-img .frth-img-text .frth-text {
  font-size: 1.2rem;
  font-family: 'Barlow', sans-serif;
  line-height: 1.9rem;
}

.container .frthPage .photography-img {
  background-image: url("../assets/desktop/image-photography.jpg");
}

.container .client-testimonials {
  height: 100vh;
  padding: 20vh;
}

.container .client-testimonials .testimonials .testimonials-title {
  text-align: center;
  font-size: 1.5rem;
  color: #a7abae;
  font-family: 'Fraunces', serif;
  letter-spacing: .6rem;
  font-weight: 900;
  margin-bottom: 8rem;
}

.container .client-testimonials .testimonials .clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .client-testimonials .testimonials .clients .client-reviews {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .client-testimonials .testimonials .clients .client-reviews img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 6rem;
}

.container .client-testimonials .testimonials .clients .client-reviews .client-text {
  width: 410px;
  font-size: 1.3rem;
  text-align: center;
  color: #5a636c;
  font-family: 'Barlow', sans-serif;
  line-height: 2.3rem;
  margin-bottom: 5rem;
}

.container .client-testimonials .testimonials .clients .client-reviews .client-info .client-name {
  font-size: 1.2rem;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  color: #23303e;
  text-align: center;
  margin-bottom: 1rem;
}

.container .client-testimonials .testimonials .clients .client-reviews .client-info .client-title {
  font-family: 'Barlow', sans-serif;
  color: #a7abae;
}

.container .images {
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .images .img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
}

.container .images .img-1 {
  background-image: url("../assets/desktop/image-gallery-milkbottles.jpg");
}

.container .images .img-2 {
  background-image: url("../assets/desktop/image-gallery-orange.jpg");
}

.container .images .img-3 {
  background-image: url("../assets/desktop/image-gallery-cone.jpg");
}

.container .images .img-4 {
  background-image: url("../assets/desktop/image-gallery-sugarcubes.jpg");
}

.container .footer {
  height: 40vh;
  background-color: #90D4C5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

.container .footer .logo {
  width: 150px;
  height: 50px;
  background-color: #458c7e;
  -webkit-mask: url("../assets/logo.svg") no-repeat center;
          mask: url("../assets/logo.svg") no-repeat center;
}

.container .footer .navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 4rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
  font-family: 'Barlow', sans-serif;
  color: #458c7e;
  font-size: 1.2rem;
}

.container .footer .navLinks div {
  cursor: pointer;
}

.container .footer .navLinks div:hover {
  color: white;
}

.container .footer .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .footer .social-links .icon {
  width: 20px;
  height: 20px;
  background-color: #458c7e;
  cursor: pointer;
}

.container .footer .social-links .icon:not(:last-child) {
  margin-right: 2rem;
}

.container .footer .social-links .icon:hover {
  background-color: white;
}

.container .footer .social-links .facebook {
  -webkit-mask: url("../assets//icon-facebook.svg") no-repeat center;
          mask: url("../assets//icon-facebook.svg") no-repeat center;
}

.container .footer .social-links .instagram {
  -webkit-mask: url("../assets//icon-instagram.svg") no-repeat center;
          mask: url("../assets//icon-instagram.svg") no-repeat center;
}

.container .footer .social-links .twitter {
  -webkit-mask: url("../assets//icon-twitter.svg") no-repeat center;
          mask: url("../assets//icon-twitter.svg") no-repeat center;
}

.container .footer .social-links .pinterest {
  -webkit-mask: url("../assets//icon-pinterest.svg") no-repeat center;
          mask: url("../assets//icon-pinterest.svg") no-repeat center;
}

.container .footer .attribution {
  position: absolute;
  bottom: 1rem;
  font-size: 11px;
  right: 0;
  left: 0;
  text-align: center;
}

.container .footer .attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */